@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

html {
    font-size: 15px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

body {
    font-family: "Lexend Deca", sans-serif;
    background-color: hsl(0, 0%, 95%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-family: "Big Shoulders Display", sans-serif;
    text-transform: uppercase;
}

button {
    font-family: inherit;
    font-size: inherit;
}

p {
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 24px;
    font-size: 0.92rem;
}

h1 {
    color: hsl(0, 0%, 95%);
    font-size: 2.5rem;
    margin: 32px 0 25px 0;
}

button {
    background-color: hsl(0, 0%, 95%);
}

#sedans {
    background-color: hsl(31, 77%, 52%);
}

#suvs {
    background-color: hsl(184, 100%, 22%);
}

#luxury {
    background-color: hsl(179, 100%, 13%);
}

main {
    display: flex;
}

main div {
    padding: 45px 50px 45px 45px;
    width: 290px;
    height: 475px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

button {
    margin-top: auto;
    padding: 12px 25px;
    border: 2px solid hsl(0, 0%, 95%);
    border-radius: 50px;
}

div img {
    order: -1;
}